@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-ouNwx-vwK: #6c584c;
  --plasmic-token-background: var(--token-ouNwx-vwK);
  --token-BmdOwAxfZ: #a98467;
  --plasmic-token-off-background: var(--token-BmdOwAxfZ);
  --token-iph6VHXz0: #adc178;
  --plasmic-token-button: var(--token-iph6VHXz0);
  --token-21uHtMI8m: #dde5b6;
  --plasmic-token-light-button: var(--token-21uHtMI8m);
  --token-YhIPb0wKY: #f0ead2;
  --plasmic-token-text: var(--token-YhIPb0wKY);
  --token-YcpD_evUc: #788c40;
  --plasmic-token-dark-button: var(--token-YcpD_evUc);
}

.plasmic_default_styles {
  --mixin-qhfdCWd1g7Mm_font-family: "Inter";
  --mixin-qhfdCWd1g7Mm_font-size: 16px;
  --mixin-qhfdCWd1g7Mm_font-weight: 400;
  --mixin-qhfdCWd1g7Mm_font-style: normal;
  --mixin-qhfdCWd1g7Mm_color: #adc178;
  --mixin-qhfdCWd1g7Mm_text-align: left;
  --mixin-qhfdCWd1g7Mm_text-transform: none;
  --mixin-qhfdCWd1g7Mm_line-height: 1.5;
  --mixin-qhfdCWd1g7Mm_letter-spacing: normal;
  --mixin-qhfdCWd1g7Mm_white-space: pre-wrap;
  --mixin-qhfdCWd1g7Mm_user-select: none;
  --mixin-qhfdCWd1g7Mm_text-decoration-line: none;
  --mixin-qhfdCWd1g7Mm_text-overflow: clip;
  --mixin--L0rMLDa034V_color: #000000;
  --mixin--L0rMLDa034V_font-weight: 900;
  --mixin--L0rMLDa034V_font-size: 72px;
  --mixin--L0rMLDa034V_line-height: 1;
  --mixin--L0rMLDa034V_letter-spacing: -4px;
  --mixin-7mbYaBVECnBF_font-family: "Inter";
  --mixin-7mbYaBVECnBF_color: #000000;
  --mixin-7mbYaBVECnBF_font-size: 48px;
  --mixin-7mbYaBVECnBF_font-weight: 700;
  --mixin-7mbYaBVECnBF_letter-spacing: -1px;
  --mixin-7mbYaBVECnBF_line-height: 1.1;
  --mixin-6NQxs4n4BH6b_color: #0070f3;
  --mixin-MGLi7Re5R3QA_font-family: "Inter";
  --mixin-MGLi7Re5R3QA_color: #000000;
  --mixin-MGLi7Re5R3QA_font-size: 32px;
  --mixin-MGLi7Re5R3QA_font-weight: 600;
  --mixin-MGLi7Re5R3QA_letter-spacing: -0.8px;
  --mixin-MGLi7Re5R3QA_line-height: 1.2;
  --mixin-wfn7RgubE8_J_font-family: "Inter";
  --mixin-wfn7RgubE8_J_color: #000000;
  --mixin-wfn7RgubE8_J_font-size: 24px;
  --mixin-wfn7RgubE8_J_font-weight: 600;
  --mixin-wfn7RgubE8_J_letter-spacing: -0.5px;
  --mixin-wfn7RgubE8_J_line-height: 1.3;
  --mixin-Hiyg-F8Gwg98_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Hiyg-F8Gwg98_border-bottom-color: #dddddd;
  --mixin-Hiyg-F8Gwg98_border-bottom-style: solid;
  --mixin-Hiyg-F8Gwg98_border-bottom-width: 1px;
  --mixin-Hiyg-F8Gwg98_border-left-color: #dddddd;
  --mixin-Hiyg-F8Gwg98_border-left-style: solid;
  --mixin-Hiyg-F8Gwg98_border-left-width: 1px;
  --mixin-Hiyg-F8Gwg98_border-right-color: #dddddd;
  --mixin-Hiyg-F8Gwg98_border-right-style: solid;
  --mixin-Hiyg-F8Gwg98_border-right-width: 1px;
  --mixin-Hiyg-F8Gwg98_border-top-color: #dddddd;
  --mixin-Hiyg-F8Gwg98_border-top-style: solid;
  --mixin-Hiyg-F8Gwg98_border-top-width: 1px;
  --mixin-Hiyg-F8Gwg98_border-bottom-left-radius: 3px;
  --mixin-Hiyg-F8Gwg98_border-bottom-right-radius: 3px;
  --mixin-Hiyg-F8Gwg98_border-top-left-radius: 3px;
  --mixin-Hiyg-F8Gwg98_border-top-right-radius: 3px;
  --mixin-Hiyg-F8Gwg98_font-family: "Inconsolata";
  --mixin-Hiyg-F8Gwg98_padding-bottom: 1px;
  --mixin-Hiyg-F8Gwg98_padding-left: 4px;
  --mixin-Hiyg-F8Gwg98_padding-right: 4px;
  --mixin-Hiyg-F8Gwg98_padding-top: 1px;
  --mixin-RPLDBg8Da_rr_border-left-color: #dddddd;
  --mixin-RPLDBg8Da_rr_border-left-style: solid;
  --mixin-RPLDBg8Da_rr_border-left-width: 3px;
  --mixin-RPLDBg8Da_rr_color: #888888;
  --mixin-RPLDBg8Da_rr_padding-left: 10px;
  --mixin-RvvGNzkSmen8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-RvvGNzkSmen8_border-bottom-color: #dddddd;
  --mixin-RvvGNzkSmen8_border-bottom-style: solid;
  --mixin-RvvGNzkSmen8_border-bottom-width: 1px;
  --mixin-RvvGNzkSmen8_border-left-color: #dddddd;
  --mixin-RvvGNzkSmen8_border-left-style: solid;
  --mixin-RvvGNzkSmen8_border-left-width: 1px;
  --mixin-RvvGNzkSmen8_border-right-color: #dddddd;
  --mixin-RvvGNzkSmen8_border-right-style: solid;
  --mixin-RvvGNzkSmen8_border-right-width: 1px;
  --mixin-RvvGNzkSmen8_border-top-color: #dddddd;
  --mixin-RvvGNzkSmen8_border-top-style: solid;
  --mixin-RvvGNzkSmen8_border-top-width: 1px;
  --mixin-RvvGNzkSmen8_border-bottom-left-radius: 3px;
  --mixin-RvvGNzkSmen8_border-bottom-right-radius: 3px;
  --mixin-RvvGNzkSmen8_border-top-left-radius: 3px;
  --mixin-RvvGNzkSmen8_border-top-right-radius: 3px;
  --mixin-RvvGNzkSmen8_font-family: "Inconsolata";
  --mixin-RvvGNzkSmen8_padding-bottom: 3px;
  --mixin-RvvGNzkSmen8_padding-left: 6px;
  --mixin-RvvGNzkSmen8_padding-right: 6px;
  --mixin-RvvGNzkSmen8_padding-top: 3px;
  --mixin-7mgWj4hO1Ajx_display: flex;
  --mixin-7mgWj4hO1Ajx_flex-direction: column;
  --mixin-7mgWj4hO1Ajx_align-items: stretch;
  --mixin-7mgWj4hO1Ajx_justify-content: flex-start;
  --mixin-7mgWj4hO1Ajx_list-style-position: outside;
  --mixin-7mgWj4hO1Ajx_padding-left: 40px;
  --mixin-7mgWj4hO1Ajx_position: relative;
  --mixin-7mgWj4hO1Ajx_list-style-type: disc;
  --mixin-N99hvIBwlhLl_display: flex;
  --mixin-N99hvIBwlhLl_flex-direction: column;
  --mixin-N99hvIBwlhLl_align-items: stretch;
  --mixin-N99hvIBwlhLl_justify-content: flex-start;
  --mixin-N99hvIBwlhLl_list-style-position: outside;
  --mixin-N99hvIBwlhLl_padding-left: 40px;
  --mixin-N99hvIBwlhLl_position: relative;
  --mixin-N99hvIBwlhLl_list-style-type: decimal;
  --mixin-3WTwepDalFKBe_font-family: "Inter";
  --mixin-3WTwepDalFKBe_color: #000000;
  --mixin-3WTwepDalFKBe_font-size: 20px;
  --mixin-3WTwepDalFKBe_font-weight: 600;
  --mixin-3WTwepDalFKBe_letter-spacing: -0.3px;
  --mixin-3WTwepDalFKBe_line-height: 1.5;
  --mixin-WGiymGgXtzGud_font-family: "Inter";
  --mixin-WGiymGgXtzGud_color: #000000;
  --mixin-WGiymGgXtzGud_font-size: 16px;
  --mixin-WGiymGgXtzGud_font-weight: 600;
  --mixin-WGiymGgXtzGud_line-height: 1.5;
  --mixin-S0z4Gm3OO2goO_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-qhfdCWd1g7Mm_font-family);
  font-size: var(--mixin-qhfdCWd1g7Mm_font-size);
  font-weight: var(--mixin-qhfdCWd1g7Mm_font-weight);
  font-style: var(--mixin-qhfdCWd1g7Mm_font-style);
  color: var(--mixin-qhfdCWd1g7Mm_color);
  text-align: var(--mixin-qhfdCWd1g7Mm_text-align);
  text-transform: var(--mixin-qhfdCWd1g7Mm_text-transform);
  line-height: var(--mixin-qhfdCWd1g7Mm_line-height);
  letter-spacing: var(--mixin-qhfdCWd1g7Mm_letter-spacing);
  white-space: var(--mixin-qhfdCWd1g7Mm_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin--L0rMLDa034V_color);
  font-weight: var(--mixin--L0rMLDa034V_font-weight);
  font-size: var(--mixin--L0rMLDa034V_font-size);
  line-height: var(--mixin--L0rMLDa034V_line-height);
  letter-spacing: var(--mixin--L0rMLDa034V_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-7mbYaBVECnBF_font-family);
  color: var(--mixin-7mbYaBVECnBF_color);
  font-size: var(--mixin-7mbYaBVECnBF_font-size);
  font-weight: var(--mixin-7mbYaBVECnBF_font-weight);
  letter-spacing: var(--mixin-7mbYaBVECnBF_letter-spacing);
  line-height: var(--mixin-7mbYaBVECnBF_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-6NQxs4n4BH6b_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-MGLi7Re5R3QA_font-family);
  color: var(--mixin-MGLi7Re5R3QA_color);
  font-size: var(--mixin-MGLi7Re5R3QA_font-size);
  font-weight: var(--mixin-MGLi7Re5R3QA_font-weight);
  letter-spacing: var(--mixin-MGLi7Re5R3QA_letter-spacing);
  line-height: var(--mixin-MGLi7Re5R3QA_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-wfn7RgubE8_J_font-family);
  color: var(--mixin-wfn7RgubE8_J_color);
  font-size: var(--mixin-wfn7RgubE8_J_font-size);
  font-weight: var(--mixin-wfn7RgubE8_J_font-weight);
  letter-spacing: var(--mixin-wfn7RgubE8_J_letter-spacing);
  line-height: var(--mixin-wfn7RgubE8_J_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-Hiyg-F8Gwg98_background);
  font-family: var(--mixin-Hiyg-F8Gwg98_font-family);
  border-radius: var(--mixin-Hiyg-F8Gwg98_border-top-left-radius)
    var(--mixin-Hiyg-F8Gwg98_border-top-right-radius)
    var(--mixin-Hiyg-F8Gwg98_border-bottom-right-radius)
    var(--mixin-Hiyg-F8Gwg98_border-bottom-left-radius);
  padding: var(--mixin-Hiyg-F8Gwg98_padding-top)
    var(--mixin-Hiyg-F8Gwg98_padding-right)
    var(--mixin-Hiyg-F8Gwg98_padding-bottom)
    var(--mixin-Hiyg-F8Gwg98_padding-left);
  border-top: var(--mixin-Hiyg-F8Gwg98_border-top-width)
    var(--mixin-Hiyg-F8Gwg98_border-top-style)
    var(--mixin-Hiyg-F8Gwg98_border-top-color);
  border-right: var(--mixin-Hiyg-F8Gwg98_border-right-width)
    var(--mixin-Hiyg-F8Gwg98_border-right-style)
    var(--mixin-Hiyg-F8Gwg98_border-right-color);
  border-bottom: var(--mixin-Hiyg-F8Gwg98_border-bottom-width)
    var(--mixin-Hiyg-F8Gwg98_border-bottom-style)
    var(--mixin-Hiyg-F8Gwg98_border-bottom-color);
  border-left: var(--mixin-Hiyg-F8Gwg98_border-left-width)
    var(--mixin-Hiyg-F8Gwg98_border-left-style)
    var(--mixin-Hiyg-F8Gwg98_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-RPLDBg8Da_rr_color);
  padding-left: var(--mixin-RPLDBg8Da_rr_padding-left);
  border-left: var(--mixin-RPLDBg8Da_rr_border-left-width)
    var(--mixin-RPLDBg8Da_rr_border-left-style)
    var(--mixin-RPLDBg8Da_rr_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-RvvGNzkSmen8_background);
  font-family: var(--mixin-RvvGNzkSmen8_font-family);
  border-radius: var(--mixin-RvvGNzkSmen8_border-top-left-radius)
    var(--mixin-RvvGNzkSmen8_border-top-right-radius)
    var(--mixin-RvvGNzkSmen8_border-bottom-right-radius)
    var(--mixin-RvvGNzkSmen8_border-bottom-left-radius);
  padding: var(--mixin-RvvGNzkSmen8_padding-top)
    var(--mixin-RvvGNzkSmen8_padding-right)
    var(--mixin-RvvGNzkSmen8_padding-bottom)
    var(--mixin-RvvGNzkSmen8_padding-left);
  border-top: var(--mixin-RvvGNzkSmen8_border-top-width)
    var(--mixin-RvvGNzkSmen8_border-top-style)
    var(--mixin-RvvGNzkSmen8_border-top-color);
  border-right: var(--mixin-RvvGNzkSmen8_border-right-width)
    var(--mixin-RvvGNzkSmen8_border-right-style)
    var(--mixin-RvvGNzkSmen8_border-right-color);
  border-bottom: var(--mixin-RvvGNzkSmen8_border-bottom-width)
    var(--mixin-RvvGNzkSmen8_border-bottom-style)
    var(--mixin-RvvGNzkSmen8_border-bottom-color);
  border-left: var(--mixin-RvvGNzkSmen8_border-left-width)
    var(--mixin-RvvGNzkSmen8_border-left-style)
    var(--mixin-RvvGNzkSmen8_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-7mgWj4hO1Ajx_display);
  flex-direction: var(--mixin-7mgWj4hO1Ajx_flex-direction);
  align-items: var(--mixin-7mgWj4hO1Ajx_align-items);
  justify-content: var(--mixin-7mgWj4hO1Ajx_justify-content);
  list-style-position: var(--mixin-7mgWj4hO1Ajx_list-style-position);
  padding-left: var(--mixin-7mgWj4hO1Ajx_padding-left);
  position: var(--mixin-7mgWj4hO1Ajx_position);
  list-style-type: var(--mixin-7mgWj4hO1Ajx_list-style-type);
  flex-column-gap: var(--mixin-7mgWj4hO1Ajx_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-N99hvIBwlhLl_display);
  flex-direction: var(--mixin-N99hvIBwlhLl_flex-direction);
  align-items: var(--mixin-N99hvIBwlhLl_align-items);
  justify-content: var(--mixin-N99hvIBwlhLl_justify-content);
  list-style-position: var(--mixin-N99hvIBwlhLl_list-style-position);
  padding-left: var(--mixin-N99hvIBwlhLl_padding-left);
  position: var(--mixin-N99hvIBwlhLl_position);
  list-style-type: var(--mixin-N99hvIBwlhLl_list-style-type);
  flex-column-gap: var(--mixin-N99hvIBwlhLl_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-3WTwepDalFKBe_font-family);
  color: var(--mixin-3WTwepDalFKBe_color);
  font-size: var(--mixin-3WTwepDalFKBe_font-size);
  font-weight: var(--mixin-3WTwepDalFKBe_font-weight);
  letter-spacing: var(--mixin-3WTwepDalFKBe_letter-spacing);
  line-height: var(--mixin-3WTwepDalFKBe_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-WGiymGgXtzGud_font-family);
  color: var(--mixin-WGiymGgXtzGud_color);
  font-size: var(--mixin-WGiymGgXtzGud_font-size);
  font-weight: var(--mixin-WGiymGgXtzGud_font-weight);
  line-height: var(--mixin-WGiymGgXtzGud_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-S0z4Gm3OO2goO_color);
}
